.App {
  text-align: center;
}

body {
  background-color: snow;
}

header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  color: black;
}

#lista {
  background-color: whitesmoke;
  text-align: left;
}